<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SettleEntities" connectionString="metadata=res://*/SettleModel.csdl|res://*/SettleModel.ssdl|res://*/SettleModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.26.229.179;User Id=root;password=111111;Persist Security Info=True;database=settle&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>