<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DbfDBConn" connectionString="Z:\QSDATA\现货数据\9016"/>
    <add name="SettleDBConn" connectionString="server=127.0.0.1;User Id=root;password=111111;Database=settle;Charset=utf8" />
    <add name="LHDBConn" connectionString="Data Source=10.26.229.193,1971;Initial Catalog=FastTrSys;;User ID=trader;Pwd=p1s2y3"/>
    <add name="O32DBConn" connectionString="User ID=trade;Password=trade;Data Source=(DESCRIPTION = (ADDRESS_LIST= (ADDRESS = (PROTOCOL = TCP)(HOST = 10.26.229.180)(PORT = 1521))) (CONNECT_DATA = (SERVICE_NAME = hssim)))" />
    <add name="WindDBConn" connectionString="Data Source=10.26.229.213;Initial Catalog=FileSync;;User ID=ysp;Pwd=ysp1118"/>
  </connectionStrings>
</configuration>